body > div.site-section.site-hero.inner > div > div > div > h1,
.bigboldtext {
  font-weight: 900;
}

.question {
  position: relative;

  margin: 0;
  padding: 10px 10px 10px 50px;
  display: block;
  width: 100%;
  border: 2px solid #3f4046;

  color: #ff5733;
  cursor: pointer;
}

.answers {
  border: 2px solid #fff;

  padding: 0px 15px;
  margin: 5px 0;
  max-height: 0;
  overflow: hidden;
  z-index: -1;
  position: relative;
  opacity: 0;
  -webkit-transition: 0.7s ease;
  -moz-transition: 0.7s ease;
  -o-transition: 0.7s ease;
  transition: 0.7s ease;
}

.questions:checked ~ .answers {
  max-height: 500px;
  opacity: 1;
  padding: 15px;
}

.plus {
  position: absolute;
  margin-left: 10px;
  z-index: 5;
  font-size: 2em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
}

.questions:checked ~ .plus {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

.questions {
  display: none;
}

.speaker .name {
  left: 0px;
  position: relative;
}

/* .site-hero{
  background: url(https://img.freepik.com/free-vector/abstract-technology-particle-background_52683-25766.jpg?size=626&ext=jpg);
} */
iframe {
  width: 100%;
}

@media only screen and (max-width: 600px) {
  iframe {
    width: 100%;
  }
}

.iconify {
  font-size: 100px;
}

.info-text{
  font-size: 20px;
}
b{
  font-weight: 600;
}